@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
}
body{
	font-family: HelveticaNeue-Light,Arial, Meiryo, メイリオ, sans-serif;
}
html,body,ul,li,a,p,h1,h2,nav{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
.right{
	float: right;
}
.left{
	float: left;
}
.verdana{
	font-family: 'Ã©ÂÅ Ã£â€šÂ´Ã£â€šÂ·Ã£Æ’Æ’Ã£â€šÂ¯','Verdana';
	font-weight: 800;
}
.menu-forphone{
	height: 100vh;
	width: 40%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

	position: fixed;
	z-index: 10000;
	transform: translate(-100%);
}
.menu-forphone a{
	display: block;
	color: white;
	height: 32px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.menu-forphone :nth-child(1) {
    font-size: 24px;
    line-height: 26px;
    color: white;
    padding: 5px;
    background-color: #2277d4;
    width: 100%;
    box-sizing: border-box;
}
.menu-title{
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	line-height: 32px;
}
.menu-subtitle{
	font-size: 12px;
	color: #3f3ff1;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
}
.goToTop{
	width: 50px;
	height: 40px;
	position: fixed;
	z-index: 3000;
	right: 0;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	background: rgba(221, 222, 28, 0.69);
}
.link-toTop{
	width: 100%;
	display: block;
	height: 100%;
}
header{
	position: fixed;
	height: 120px;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	background-color:rgba(255, 255, 255, 0.95);
	border-bottom: 3px solid #9f9ffb;
}
.header-container{
	height: 100%;
	margin: 0 auto;
	width: 581px;
}
.company-logo-a{
	margin-top: 30px;
}
.company-logo-a,.logo-img{
	width: 70px;
	height: 50px;
	display: block;
	color: white;
}
.phone-menu{
	border-radius: 4px;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 36px;
	height: 32px;
	background-color:#378ce8;
	color: white;
	text-align: center;
	font-size: 24px;
	display: none;
	
}
main{
	height: 1590px;
	width: 100%;
}
.backgroung-img{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	position: absolute;
    left: 0;
    right: 0;
}
.carousel {
    width: 100%;
    height: 70vw;
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.carousel>a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel img{
	width: 100%;
	height: 800px;
}
.changeOpacity{
	width: 100%;
	height: 100%;
	animation-name:bgColor;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}
.text{
	width: 100%;
	height: 100%;
	position: relative;
}
.company-message{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 52px;
	font-weight: 500;
	width: 572px;
	color: white;
	letter-spacing: 0;
	opacity: 0;
	animation: fadeIn 5s 0s ease infinite;
}
@keyframes fadeIn{
	50%{
		opacity: 0.8;
	}
	60%{
		opacity: 1;
	}
}
.menu{
	padding-top: 30px;
	font-size: 16px;
	margin-left: 50px;
	letter-spacing: 1px;
}
.menu>a{
	margin-right: 5px;
	position: relative;
	box-sizing: border-box;
	/* line-height: 20px; */
	padding: 3px;
	z-index: 1;
}
.menu>a::before,nav>a::after{
	position: absolute;
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border:2px solid transparent;
	width: 0;
	height: 0;
}

.menu>a::before{
	top: 0;
	left: 0;
}
.menu>a::after{
	right: 0;
	bottom: 0;
}
.menu>a:hover::before,nav>a:hover::after{
	width: 100%;
	height: 100%;
	animation-fill-mode: forwards;
}
.menu>a:hover::before{
	border-top-color: #52b1fb;
	border-right-color: #52b1fb;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
          transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
          -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */

}
.menu>a:hover::after{
	border-bottom-color: #52b1fb;
    border-left-color: #52b1fb;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
          transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.text-container{
	position: absolute;
	left: 50px;
	top: 350px;
	z-index: 10px;
}
.text-container h1{
	display: block;
	border-bottom: 2px solid grey;
}
/*背景*/
@keyframes bgColor{
	from{

	}
	to{
		background-color: rgba(172, 170, 175, 0.58);
	}
}
.blow{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 39px;
	width: 24px;
	margin: 0 auto;
	animation: jumpAngle 0.25s infinite;
}
.blow-link{
	color: white;
}
@keyframes jumpAngle{
	to{
		bottom: 6px;
	}
}

.product-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(165, 163, 163, 0.67);
    line-height: 17px;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}
.product-container{
	padding-bottom: 4px;
	height: 350px;
}
.product-link{
	width: 300px;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.product-details{
	margin: 0 auto;
	text-indent: 32px;
	height: 70px;
	width: 90%;
	padding: 5px;
	box-sizing: border-box;
	text-overflow: ellipsis;
}
.product-container img {
    width: 300px;
    height: 250px;
    border: 1px red solid;
}
a.showProductPage{
	
background-color: #69cdfb;
	
color: white;
	
padding: 3px 8px;
	
width: 80px;
	
height: 17px;
	
display: block;
	
position: absolute;
	
bottom: 3%;
	
right: 6%;
	
box-shadow: 5px 5px 5px 0px #81b5cc;
}
.service {
    width: 800px;
    height: 250px;
    margin: 0 auto;
}
.ervice-name-title{

}
.service-name {
    width: 240px;
    height: 260px;
    background-color: rgba(215, 187, 243, 0.47);
    margin-right: 26px;
    border-radius: 5px;
    position: relative;
}
h2.service-name-title {
    font-weight: 100;
    font-size: 21px;
    line-height: 23px;
    position: absolute;
    top: 6px;
    width: 224px;
    height: 46px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h2.service-name-title {}

.service-name>p {
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    width: 224px;
    height: 100px;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
a.service-button-link {
    display: block;
    font-size: 14px;
    line-height: 18px;
    width: 126px;
    height: 18px;
    position: absolute;
    bottom: 13px;
    right: 9px;
    background-color: #7676f1;
    /* text-indent: 5px; */
    color: white;
    background: #2aa1fc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2aa1fc 0%, #bfe8f9 45%, #9fd8ef 62%, #2ab0ed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2aa1fc 0%,#bfe8f9 45%,#9fd8ef 62%,#2ab0ed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2aa1fc 0%,#bfe8f9 45%,#9fd8ef 62%,#2ab0ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa1fc', endColorstr='#2ab0ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 5px 5px 5px 0px #81b5cc;
}

a.service-button-link > span {
	margin-right: 4px;
	margin-left: 3px;
}
footer {
    width: 100%;
    height: 220px;
    position: relative;
    background: rgba(94,5,158,1);
    background: -moz-linear-gradient(45deg, rgba(94,5,158,1) 0%, rgba(47,24,201,1) 94%, rgba(22,7,162,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(94,5,158,1)), color-stop(94%, rgba(47,24,201,1)), color-stop(100%, rgba(22,7,162,1)));
    background: -webkit-linear-gradient(45deg, rgba(94,5,158,1) 0%, rgba(47,24,201,1) 94%, rgba(22,7,162,1) 100%);
    background: -o-linear-gradient(45deg, rgba(94,5,158,1) 0%, rgba(47,24,201,1) 94%, rgba(22,7,162,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(94,5,158,1) 0%, rgba(47,24,201,1) 94%, rgba(22,7,162,1) 100%);
    background: linear-gradient(45deg, rgba(94,5,158,1) 0%, rgba(47,24,201,1) 94%, rgba(22,7,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e059e', endColorstr='#1607a2', GradientType=1 );
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.foot {
    width: 80%;
    height: 194px;
    margin: 0 auto;
    position: relative;
    top: 24px;
}
.foot-column {
    width: 25%;
    height: 140px;
    box-sizing: border-box;
    float: left;
    border-right: 1px #878b9a solid;
    margin: auto 0;
}
.nakami{
	margin-left: 10px;
}
.nakami a :hover{
	color: white;
}
.foot-column a {
    display: block;
}
.addressAndTel{
	border: none;
}
.addressAndTel h1 {
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
}
.addressAndTel p {
    color: #afaeae;
    font-size: 12px;
}
.address {
    margin-bottom: 12px;
}
.nakami a {
    color: #adabab;
}

.address h1,.tel h1 {
    color: #8a8888;
}
.copyright {
    position: absolute;
    font-size: 12px;
    width: 100%;
    bottom: 0;
    color: silver;
    background-color: #0a0256;
}
.copyright p {
    width: 93px;
    margin: 0 auto;
}
.devide-margin{
	margin-top: 60px;
}
